= render partial: "header"
= render partial: "side_bar"

.main-article
  .form
    = form_for @new_article do |f|
      .form__box
        = f.text_field :title, class: 'form__box__title', placeholder: 'タイトルを入力してください', autocomplete: "off"
        = f.text_area :content, class: 'form__box__content' , placeholder: '本文を入力してください'
        .form__box__submit
          = f.submit '投稿する', class: 'form__box__submit__btn'