= render partial: "header"
= render partial: "side_bar"
.main-article
  .main-article__title
    =@article.title
  .main-article__content
    = simple_format(@article.content)
  .main-article__time
    -if user_signed_in? && @article.user_id == current_user.id
      =link_to edit_article_path(@article) do
        %p 編集・削除
    = @article.created_at.strftime("%Y/%m/%d %H:%M")
  .comment-box
    %p.comment-box__all
      コメント一覧
    %ul.comment-box__list
      - @comments.each do |comment|
        %li.comment-box__list__text
          = link_to user_path(comment.user) do
            = comment.user.name
            ：
          = comment.comment
  -# コメントフォームJS用
  -# .comment-button
  -#   %input#comment_button{type:"button", value:"コメントする"}
  - if user_signed_in?
    .comment-form
      = form_for [@article, @comment] do |f|
        .comment-form__box
          = f.text_area :comment, class: 'comment-form__box__comment', placeholder: 'コメントを入力してください'
          .comment-form__box__submit
            = f.submit '投稿する', class: 'comment-form__box__submit__btn'