= render partial: "articles/header"
= render partial: "articles/side_bar"
.main-article
  - @articles.each do |article|
    = link_to article_path(article) do
      .main-article__list
        .main-article__list__title
          = article.title
        .main-article__list__content
          = article.content.truncate(150)
        .main-article__list__time
          = article.created_at.strftime("%Y/%m/%d %H:%M")
  .main-article__pagenation
    = paginate(@articles)
